---
layout: "layout.njk"
localdata: "Hello from Netlify Functions"
---
<h1>{% if name %}Hello {{ name }}!!{% else %}Welcome{% endif %}</h1>

<p>{{ localdata }}</p>
<p>{{ globaldata }}</p>
<p>{% include "include.njk" %}</p>
